@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;600&display=swap");

.footer ul li {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
}
.topic-list ul li {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
}
.topic-list h1 {
  font-family: "Kanit", sans-serif;
  font-weight: 200;
}
