* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer-left {
  display: flex;
  justify-content: center;
  background-color: #a02525;
  width: 10%;
}
.footer-left ul li {
  list-style: none;
  margin: 20px 0px;
  color: #fff;
}
