* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav .logo img {
    width: 500px;
    height: 100px;
}

nav .links img {
    height: 100px;
}