* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.topic-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.topic-list-item ul li {
  list-style: none;
  cursor: pointer;
  margin: 10px 0;
}
