* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.warshal {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
}
.warshal-algo {
  padding: 10px;
  border: 1px solid black;
}
